
* {
  box-sizing: border-box;
}

html, body {
  font-size: 18px;
  margin: 0;
  padding: 0;
  overflow: hidden; /* esto es lo de la barra de scroll, y así lo ocultamos */
  --height: 100%;
  --width: 100%;
  --background-image: url("../images/fondo-atleti2.png");
  --background-size: 100%;
  --background-position: center;
}

 #canvas-player1 {
  position: absolute;
  left: 0;

} 
#canvas-player2 {
  position: absolute;
  right: 0;
} 

#main {
  position: absolute;
  z-index: 1;
  background-color: aqua;
  height: 100%;
}

#game-over {
  display: none;
  width: 750px;
  height: 400px;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -375px;
  z-index: 1;
  background-color: coral;
}

#highscore {
  position: absolute;
  z-index: +1;
}

#instruccions {
  position: absolute;
  z-index: +1;
  
}

.score-saved {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed;
}
.name-saved {

}